<div class="island-form">
  <h2>{{ island.name }}</h2>
  <img src="{{ island.img }}" alt="{{ island.name }}" />
  <h3>Book a trip to {{ island.name }} island</h3>
  <form [formGroup]="form" (ngSubmit)="bookTrip()">
    <input formControlName="username" placeholder="Type Full Name" />
    @if(form.get('username')?.invalid && form.get('username')?.touched) {
    <p class="error">Please enter a valid name</p>
    } @if(form.get('username')?.hasError('required')) {
    <p class="error">Name is required</p>
    }
    <input formControlName="number" placeholder="Type Phone Number" />
    @if(form.get('number')?.invalid && form.get('number')?.touched) {
    <p class="error">Please enter a valid phone number</p>
    } @if(form.get('number')?.hasError('required')) {
    <p class="error">Phone number is required</p>
    }
    <button type="submit" class="book">Book for today!</button>
  </form>
</div>
